    
    <link rel="stylesheet" href="/css/footer.css">

    <footer>
        <h3>
            <span>
                <i class="fa-regular fa-circle-c fa-2xl"></i>
            </span>
            Coding Ninjas. All Rights reserved
        </h3>
    
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
    
            <li>
                <a href="/users/profile">Profile</a>
            </li>
        </ul>
    </footer>